.letter-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 60px;
  height: 80px;
  margin: 0.25rem;
  background-color: #13700a;
  border: 3px solid #222;
}

.has-letter {
  background-color: white;
}
