.spin-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 2rem 0;

  button {
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid darken($color: red, $amount: 10);
    color: white;
    margin: 0 2rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    background-color: red;
  }

  .current-spin-value {
    background: white;
    text-align: center;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
}
